[Unit]
Description=Simple Alarm Server
After=network.target

[Service]
ExecStart=/usr/bin/alarm-cli daemon
ExecStop=/usr/bin/alarm-cli stop
Restart=on-abort
User=amnesia

[Install]
WantedBy=multi-user.target
